body{ font-size:16px;font-family:'PingFangSC-Regular','Hiragino Sans GB','Microsoft Yahei',sans-serif;background-color:#f9f9f9; }
.panel-body > p + p{ margin: 20px 0 0; }
.well p{ margin:10px 0 0; }
.nav{ margin-bottom:20px; }
.panel .label{ padding:.3em .6em;line-height:2; }
.well{ margin:20px 0 0 0; }
.footer{ padding:30px 0 50px 0; }