body {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACFJREFUeNpiZGBg4GegAsBlCD8TqSYNQg2Mo6FEBAAIMACdPABtrSW/IQAAAABJRU5ErkJggg==");
  background-repeat: repeat;
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
  min-height: 100vh;
  margin: 0;
}

body{ font-size:16px;font-family:'PingFangSC-Regular','Hiragino Sans GB','Microsoft Yahei',sans-serif;}
.panel-body > p + p{ margin: 20px 0 0; }
.well p{ margin:10px 0 0; }
.nav{ margin-bottom:20px; }
.panel .label{ padding:.3em .6em;line-height:2; }
.well{ margin:20px 0 0 0; }
.footer{ padding:30px 0 50px 0; }
html,
body,
p,
h1{
  color: #2e405b;
}
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}